<div>
  <H1>PHIẾU CHI</H1>
   <p style="text-align: center;"><i>Ngày 14 tháng 05 năm 2018</i></p>
                
</div>
<div align="right">
                 
  <p>Quyển số </p>
  <p>Số:PC...</p>
  <p>Nợ:642</p>
  <p>Có:11</p>
</div>
<p>Người nhận tiền:<input [(ngModel)]="name" ><span>{{name}}</span></p> 
<p>Địa chỉ: Công ty TNHH Công Nghệ NCCSOFT Việt Nam</p>
<p>Lí do chi: Thanh toán khung teo ti vi di động có bánh xe  - đề xuất 11.05.2018</p>
<p>Số tiền :<input [(ngModel)]="many"/><span>{{many}}</span></p>
<p>Viết bằng chữ : Một triệu sáu trăm năm mươi ngàn đồng chẵn</p>
<p>Kèm theo : 0 chứng từ gốc</p>
<p style="text-align: right;"> Ngày 14 tháng 5 năm 2018</p>
<div id="kiten" style="text-align: center;">
  <p> Người nhận tiền

    <span>Người lập phiếu</span> Giám đốc
  </p>
  <p> Người nhận tiền

    <span>Người lập phiếu</span> Giám đốc
  </p>
</div>

